<!-- 
 
 <nav class="flex justify-evenly bg-slate-500 p-7">
    <ul class="flex justify-evenly gap-12">
        <li >
            <a routerLink="/employee" class="bg-green-400 text-wrap rounded-md p-2">All Employees</a>
        </li>
        <li>
            <a href="" routerLink="/addemployee" class="bg-green-400 text-wrap rounded-md p-2">Add New Employee</a>
        </li>
    </ul>
    <div class="flex justify-evenly gap-9">
        <input type="text" placeholder="Search Employee" class="rounded-md text-center">
        <button class="bg-sky-400 p-2 text-red-900 rounded-md">Search</button>
    </div>
</nav>   -->



<nav class="bg-white h-screen w-56 border border-x-2">
    <div class="flex flex-col h-full justify-start items-center">
        <img src="resources/images/admin.png" alt="Logo" class="w-28 h-auto mb-8 cursor-pointer" />
        <ul class="flex flex-col gap-4 w-full text-center">
            <li class="py-2 hover:bg-slate-400 cursor-pointer">
                <a routerLink="/" class="block w-full">Overview</a>
            </li>
            <li class="py-2 hover:bg-slate-400 cursor-pointer">
                <a routerLink="/employee" class="block w-full">Employees</a>
            </li>
            <li class="py-2 hover:bg-slate-400 cursor-pointer">
                <a routerLink="/addemployee" class="block w-full">Create</a>
            </li>
            <li class="py-2 hover:bg-slate-400 cursor-pointer">
                <a routerLink="/" class="block w-full">Setting</a>
            </li>
            <li class="py-2 hover:bg-slate-400 cursor-pointer">
                <a routerLink="/" class="block w-full">Profile</a>
            </li>
            <li class="py-2 hover:bg-slate-400 cursor-pointer">
                <a routerLink="/" class="block w-full">Support</a>
            </li>
        </ul>
    </div>
</nav> 


